BasedOnStyle: Microsoft
Language: Cpp
ColumnLimit: 0
UseTab: Always
IndentWidth: 4
TabWidth: 4
PointerAlignment: Left
SpaceBeforeParens: Never
SortIncludes: true
BreakBeforeBraces: Attach
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortFunctionsOnASingleLine: true
AllowShortLoopsOnASingleLine: true
AllowShortBlocksOnASingleLine: Empty
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignTrailingComments: true
AlwaysBreakBeforeMultilineStrings: false
AlwaysBreakTemplateDeclarations: true
AccessModifierOffset: -4
IndentAccessModifiers: false
SpacesInParentheses: false
SpacesInAngles: false
SpacesInSquareBrackets: false
SpacesInCStyleCastParentheses: false
SpaceAfterCStyleCast: false
SpaceInEmptyParentheses: false
SpaceBeforeAssignmentOperators: true
NamespaceIndentation: All